---
---

<main>
  <!-- No way for visual editing to work with .astro components -->
  <!-- <pre  style={{margin: '100px auto', width: '1000px'}}>{JSON.stringify(response.data.post.body, null, 2)}</pre> -->
  <!-- Uncomment React version to see Tina working -->
  <h1>500 error</h1>
</main>